.add{
    padding:20px;
}

.flex-col{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
p{
    color: #696969;
    margin-bottom: 5px;
}
.add-product-name input{
    padding: 7px 10px;
    width: 120%;
    border: 1px solid #f5bc13;
    
}

.product-description textarea{
    width: 120%;
    padding: 10px;
    border: 1px solid #f5bc13;

}
.product-description textarea:focus{
   border: 2px solid #f5bc13;
  outline: none;

}

.add-product-name input:focus {
  border: 2px solid #f5bc13;
  outline: none;
}


.product-flex{
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 14px;
}

.product-price input{
    width: 60%;
    padding: 4px;
}
.form-btn{
    margin-top: 15px;
    color: white;
    background-color: #f5bc13;
    padding: 10px 15px;
    border-radius: 3px;
    border: none;
    width: 40%;
    cursor: pointer;
    display: flex;
    gap: 5px;
    justify-content: center;
    align-items: center;
}
@media(max-Width:900px){
    P{
        font-size: 10px;
    }
    .add-product-name input{
        /* padding: 5px 10px; */
        width: 90%;
        margin-top: 5px;
        
    }
    .product-description textarea{
        width: 90%;
    }
     .product-description textarea{
        width: 90%;
    }


}